Source: microstacknode
Maintainer: Thomas Preston <thomas.preston@openlx.org.uk>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7),
               python3, python3-setuptools
Standards-Version: 3.9.1
X-Python3-Version: >= 3.2

Package: python-microstacknode
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
         python-microstackcommon (>= 0.0.0), python-microstackcommon (<< 1.0.0)
Description: The Microstack node functions module.
 Python module for interacting with Microstack products.
 Documentation: http://piface.github.io/microstacknode/

Package: python3-microstacknode
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
         python3-microstackcommon (>= 0.0.0), python3-microstackcommon (<< 1.0.0)
Description: The Microstack node functions module.
 Python 3 module for interacting with Microstack products.
 Documentation: http://piface.github.io/microstacknode/
